*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;   
}

.bodyForBackground {
    background: #054f5294;
    height: 100%;
    background-size: cover;
    background-position: center;
}

div.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(../pictures/2.jpg);
    height: 1080px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    z-index: 5;
    float: right;
    list-style-type: none;
    margin-top: 25px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

ul li {
    display: inline-block;
    align-items: center;
    padding: 5px 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
}

ul li a:hover {
    background-color: white;
    color: black;

    transform: scale(1.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

ul li.active a{
    background-color: white;
    color: black;
}

.ulForSideComponents, .ulForSideComponentsHostReservation {
    float: left;
    list-style-type: none;
    position: fixed;
    left: 7%;
    top: 25%;
    transform: translateX(-50%);
    align-content: center;
}


.ulForSideComponents div li{
    display: block;
    align-items: center;
    
}

.ulForSideComponents div li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer; 
}

.ulForSideComponents div li a:hover{
    background-color: white;
    color: black;

    transform: scale(1.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.ulForSideComponents div li.active a{
    background-color: white;
    color: black;
}


.main {
    max-width: 1200px;
    margin: auto;
    position: fixed;
    z-index: 5;
}

.titleForPublishedFeedbackPreview {
    position: fixed;
    margin-top: -4%;
    margin-left: 35%;
    z-index: 5;
    color: white;
    font-size: 18px;
}

.logo img {
    float: left;
    width: 80px;
    height: 60px;
    position: relative;
    z-index: 5;
}


.webName {
    position: relative; 
    z-index: 5; 
}

.webName h3 {
    color: black;
    font-size: 18px;
    margin-left: -10%; 
    z-index: 5;
}

.logoAndName {
    position: absolute;
    margin-left: 4%;
    margin-top: 1%;
    z-index: 5;
}

.form-box {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 25px;
    width: 1380px;
}

.dropbtn {
    background: whitesmoke;
    border: none;
    color: black;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
.dropdown {
    position: fixed;
    top: 2.5%;
    left: 90%;
    display: inline-block;
    z-index: 5;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -8px;
    border-radius: 25px;
    z-index: 5;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    z-index: 5;
   
  }
  
  .dropdown-content a:hover { 
    background-color: lightgray;
    color: black;
    border:1px solid black;
    z-index: 5;
}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
    background: lightgray;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 5;
    }

#menuIcon{
    width: 50px;
    height: 50px;
}

#userIcon{
    width: 50px;
    height: 46px;
    padding-right: 5px;
}

.verticalLine, .verticalLineReservation {
    position: fixed;
    border-left: 4px solid black;
    height: 60%;
    margin-left: 15%;
    border-radius: 25%;
    margin-top: -1%;
}

.verticalLineReservation {
    margin-left: 17%;
}


.wrapper:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.wrapper, .wrapper-form {
    z-index: -100;
    height: 420px;
    width: 854px;
    margin: 50px auto;
    margin-left: 21%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
    transition: 2.3 ease;
    cursor: pointer;
}

.wrapper-form {
    height: 2200px;
}

.wrapper-form-my-profil {
    height: 840px;
}

.feedback-img {
    float: left;
    height: 420px;
    width: 327px;
    background-color: #afd0c7;
}

.feedback-img img {
    border-radius: 7px 0 0 7px;
}

.feedback-info {
    float: left;
    height: 420px;
    width: 527px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.feedback-text {
    height: 300px;
    width: 527px;
}


.feedback-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.feedback-text div {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 22px;
    color: #8d8d8d;
}

.emptyListOfFeedbacks h2 {
    position: fixed;
    margin-top: 4%;
    margin-left: 33.5%;
    z-index: 5;
    color: white;
}

label,.feedback-text h1 {
    font-family: 'Bentham', serif;
}

label {
    font-size: 18px;
    font-weight: 400;
}

.boundaryForScroll {
    position: fixed;
    width: 100%;
    height: 185px;
    padding: 20px;
    margin-top: -220px;
    background-color: #6d989a;
    z-index: 4;
}

.listOfFeedbacks {
    margin-top: 220px;
}

.publishFeedback-btn {
    height: 280px;
    width: 325px;
    margin-top: 17px;
    margin-right: 15px;
    position: relative;
}

.publishFeedback-btn p {
    display: inline-block;
    position: absolute;
    top: 7px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 110px;
    font-size: 28px;
    font-weight: lighter;
    color: #054f5294;
}

.publishFeedback-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 20px -125px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #79b0a1;
    cursor: pointer;
    outline: none;
}

.publishFeedback-btn button:hover {
    background-color: #054f5294;
}