<table class="table table-striped" matTableExporter #exporter="matTableExporter">
    <thead>
        <tr>
          <th id="TenderId">TenderId</th>
          <th id="PharmacyName">PharmacyName</th>
          <th id="Price">Price</th>
          <th id="Quantity">Quantity</th>
          <th id="Comment">Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of OfferList">
            <td>{{dataItem.tenderId}}</td>
            <td>{{dataItem.pharmacyName}}</td>
            <td>{{dataItem.price}}</td>
            <td>{{dataItem.quantity}}</td>
            <td>{{dataItem.comment}}</td>
        </tr>
    </tbody>
</table>