<div class="procurement">
    <h3 style="text-align:center">Order medicament</h3>
    <div id="procurementForm">
        <form>
            <div>
                <label class="col-sm-2 col-form-label">Id</label>
                <input type="text" placeholder="Id" name="Id" class="form-control"  [(ngModel)]="MedList.id"/>
                <label class="col-sm-2 col-form-label">Medicament</label>
                <input type="text" placeholder="Medicament name" name="Name" class="form-control"  [(ngModel)]="MedList.name"/>    
                <label class="col-sm-2 col-form-label">Quantity</label>
                <input type="text" placeholder="Quantity" name="Quantity" class="form-control"  [(ngModel)]="MedList.quantity"/>   
            </div>
            <br/>
            <br/>
            <div  style="text-align:center" >
                <!--SLANJE ZAHTEVA PREKO JEDNOG DUGMETA, KAO SFTP ILI KAO HTTP U ZAVISNOSTI OD END POINTA APOTEKE-->
              <button mat-raised-button class="buttonHttp" (click)="sendRequest()">Send</button>
            <!--<button mat-raised-button class="buttonGrpc">Send-Grpc</button>-->  
            </div>
            </form>
    </div>
</div>