<table class="table table-striped" matTableExporter #exporter="matTableExporter">
    <thead>
        <tr>
          <th id="Id">Id</th>
          <th id="TenderId">TenderId</th>
          <th id="PharmacyName">PharmacyName</th>
          <th id="Price">Price</th>
          <th id="Quantity">Quantity</th>
          <th id="Comment">Comment</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let dataItem of OfferList">
           <td>{{dataItem.id}}</td>
            <td>{{dataItem.tenderId}}</td>
            <td>{{dataItem.pharmacyName}}</td>
            <td>{{dataItem.price}}</td>
            <td>{{dataItem.quantity}}</td>
            <td>{{dataItem.comment}}</td>
            <button type="button" (click)="choose(dataItem.id)" class="btn btn-primary float-right m-2">Choose</button>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-close-tender [clo]="clo" *ngIf="ActivateAddEditClose">
            </app-close-tender>
        </div>
      </div>
    </div>
  </div>